version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: gobrrr-pool_webui_1
      APP_PORT: 3000
      PROXY_AUTH_WHITELIST: "/api/*"

  ckpool:
    image: ghcr.io/gobrrrme/gobrrr-ckpool:v1.0.0@sha256:190a615e6bcc9eb9d308fff6b4b148bb8d1e114f95186b6a850c69cd70f3803d
    restart: on-failure
    stop_grace_period: 1m
    ports:
      - "21420:3333"
    volumes:
      - ${APP_DATA_DIR}/data/ckpool-socket:/tmp/ckpool
      - ${APP_DATA_DIR}/data/ckpool-logs:/var/log/ckpool
    environment:
      - BITCOIN_RPC_HOST=${APP_BITCOIN_NODE_IP}
      - BITCOIN_RPC_PORT=${APP_BITCOIN_RPC_PORT}
      - BITCOIN_RPC_USER=${APP_BITCOIN_RPC_USER}
      - BITCOIN_RPC_PASS=${APP_BITCOIN_RPC_PASS}
      - BITCOIN_ZMQ_HASHBLOCK=tcp://${APP_BITCOIN_NODE_IP}:28332
      - POOL_SIGNATURE=GoBrrrPool_Umbrel
      - START_DIFFICULTY=10000
      - MIN_DIFFICULTY=1
      - BLOCKPOLL=50
      - UPDATE_INTERVAL=20
    container_name: gobrrr-pool_ckpool_1

  webui:
    image: ghcr.io/gobrrrme/gobrrr-webui:v1.0.0@sha256:a5d4524262757a8d91d84871aa013726cba08117eee6e79857e48eaa6e4091e0
    restart: on-failure
    stop_grace_period: 30s
    volumes:
      - ${APP_DATA_DIR}/data/ckpool-socket:/tmp/ckpool:ro
      - ${APP_DATA_DIR}/data/ckpool-logs:/var/log/ckpool:ro
      - ${APP_DATA_DIR}/data/webui:/app/data
    environment:
      - NODE_ENV=production
      - PORT=3000
      - CKPOOL_SOCKET_DIR=/tmp/ckpool
      - CKPOOL_LOGS_DIR=/var/log/ckpool
      - MEMPOOL_API_URL=https://mempool.space/api
    depends_on:
      - ckpool
    container_name: gobrrr-pool_webui_1
